.wrapper {
    font-size: 16px;
}

.header {
    margin-top: 32px;
    position: relative;
    text-align: center;

    p {
        font-size: 26px;
        font-weight: 700;
        display: inline-block;
        margin-bottom: 0;
        padding: 0 32px;
        background-color: #fff;
    }

    &.horizontal {
       &:before {
           content: "";
           position: absolute;
           left: 32px;
           right: 32px;
           top: 50%;
           transform: translateY(-50%);
           z-index: -1;
           height: 1px;
        //    width: s100%;
           background-color: #000;
       }
    }
}

.content {
    padding: 32px 64px;

    > h2 {
        font-size: 22px;
        font-weight: 700;
    } 

    > p {
        font-size: 18px;
    }

    > div {
        margin-bottom: 24px;
        > h3 {
            font-size: 20px;
            font-weight: 600;
        }
        > table {
            margin-bottom: 14px;
            border-collapse: collapse;
            border: 1px solid;
            
            > thead > tr > th {
                background-color: #FFC52F;
                font-weight: 700;
                padding: 8px 24px;
                border-right: 1px solid #000;
                text-align: left;
                &:last-child {
                    border-right: none;
                }
            }
            > tbody > tr > td {
                padding: 8px 24px;
                border-top: 1px solid #000;
                border-right: 1px solid #000;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}

.quality {
    display: flex;
    position: relative;
    padding: 32px 0 24px;
    > div {
        width: 33.33%;
        text-align: center;

        h3 {
            font-weight: 700;
        }

        > span > svg {
            font-size: 48px;
            color: #FFC52F;
        }
    }
}

.policies {
    display: flex;
    flex-direction: column;

    > div {
        display: flex;
        align-items: center;
        padding: 32px 64px;
        background-color: #E9FFFC;

        &:nth-child(2n+1) {
            background-color: #FFC52F;
        }

        .last {
            order: 2;
        }

        .text {
            flex: 1;
            > h2 {
                font-size: 22px;
                font-weight: 700;
            } 
            > p {
                font-size: 16px;
            }
            ul {
                padding-left: 64px;
                // list-style: none;
            }
        }

        .icon {
            width: 250px;
            font-size: 64px;
            
            &.iRight {
                text-align: right;
                margin-right: 20px;
            }
            &.iLeft {
                text-align: left;
                margin-left: 20px;
            }
        }
        
        .call {
            p {
                font-size: 24px;
            }
            span {
                color: #FF2828;
            }
        }
    }
}