.flex {
    display: flex;
    justify-content: space-between;
}

.space {
    > div {
        margin-right: 12px;
        &:last-child {
            margin-right: 0;
        }
    }

    > button {
        &:first-child {
            margin-right: 12px;
        }
    }
}

.divider {
    margin: 50px 0 30px;
    height: 1px;
    width: 100%;
    background-color: #8A8A8A;
}

.title {
    display: inline-block;
    line-height: 1.2;
    font-weight: 800;
    font-size: 16px;
    border-bottom: 1px solid #000;
}

.subHeader {
    margin-right: auto;
    font-size: 18px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    transition: 0.3s;

    p {
        text-transform: capitalize;
        font-weight: 600;
        font-style: italic;
        display: inline-block;
        margin-bottom: 0;
        transition: 0.3s;
    }
    i {
        margin-left: 12px;
        transition: 0.2s;
        font-size: 24px;
        display: inline-block;
        transition: 0.3s;
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}

.sell {
    margin-left: 20px;
    // display: flex;
    // align-items: center;
    font-size: 14px;
    font-style: italic;
}