.tb {
    thead > tr > th {
        font-weight: 700;
    }
    
    table {
        border-top: 1px solid #5e5e5e !important;
        border-left: 1px solid #5e5e5e !important;

        thead > tr > th,
        tbody > tr > td {
            border-right: 1px solid #5e5e5e !important;
            border-bottom: 1px solid #5e5e5e !important;

            > p:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.history {
        thead > tr > th {
            background: #9CACFF;
        }

        tr:hover > td {
            background: #FFD990;
        }
    }
}