.wrapper {
    margin: 10px 0;
}

.col {
    display: flex;
    flex-direction: column;

    > a > img {
            display: inline-block;
            margin: 0 auto;
            max-width: 250px;
    }
    
    .textBox {
        padding: 22px 8px 12px;
        position: relative;

        .wrapNote {
            position: absolute;
            top: 0;
            display: flex;
        }

        .note {
            // position: absolute;
            // top: 0;
            background: linear-gradient(-90deg, #ec1f1f 0%, #ff9c00 100%);
            display: inline-flex;
            align-items: center;
            border-radius: 20px;
            margin-right: 4px;
            
            .icon {
                // display: inline-block;
                border-radius: 50%;
                background-color: #FF1616;
                display: inline-flex;
                i {
                    padding: 4px;
                    font-size: 14px;
                    color: #fff;
                }
            }
            .noteContent {
                font-size: 12px;
                font-weight: 700;
                color: #fff;
                padding: 0 10px 0 8px;
                line-height: 22px;
            }
        }

        .name {
            a {
                color: #000;
                transition: 0.2;
                &:hover {
                    color: #9e8b2a;
                }
            }
        }

        p {
            font-weight: 700;
            margin-bottom: 0;

            > .odd {
                font-weight: 500;
                color: #7F7F7F;
                text-decoration: line-through;
                margin-right: 8px;
            }
        }
    }
    
}


.wrapHr {
    position: relative;
    div {
        text-align: center;
        a {
            width: 300px;
            padding: 4px 0;
            display: inline-block;
            background: #F4CB08;
            color: #000;
            font-size: 25px;
            font-weight: 900;
            text-transform: uppercase;
            border-radius: 30px 10px;
            border: 3px solid #FF0000;
            box-shadow: 5px 3px 2px rgba(250, 90, 0, 0.63);
            text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2);
        }
    }
    span {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
        width: 100%;
        height: 6px;
        background: #F4CB08;
    }
    &::before {
        content: "";
        position: absolute;
        top: 35%;
        left: 0;
        z-index: -2;
        width: 50%;
        height: 2px;
        background: #FF0000;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 35%;
        right: 0;
        z-index: -2;
        width: 50%;
        height: 2px;
        background: #FF0000;
    }
}