.btn {
    border-radius: 2px;
    color: #fff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    font-weight: 600;

    &.blue {
        background: #1890ff;
        border-color: #1890ff;
    }

    &.red {
        background: #FF2828;
        border-color: #FF2828;
    }

    &.black {
        background: #000;
        border-color: #000;
    }

    &.orange {
        background: #FF7121;
        border-color: #FF7121;
    }

    &:hover {
        opacity: 0.8;
    }

    i {
        margin-right: 8px;
    }
}