.avatar {
    margin: 0 auto;
    max-width: 280px;
    max-height: 280px;

    img {
        max-width: 280px;
        max-height: 280px;
        object-fit: cover;
        border-radius: 50%;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    }
}

.wrapBox {
    padding: 0 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    &.admin {
        background: #FDFF9A;
        .header i {
            background: #FDFF9A;
        }
        .box {
            background: #FFF7B4;
        }
        :global {
            .ant-radio-inner:after {
                background-color: #1890ff;
            }
            .ant-radio-wrapper-checked {
                font-weight: 700;
                .ant-radio-inner {
                    background-color: #1890ff;
                }
            }
            .ant-radio-checked .ant-radio-inner {
                border-color: #000;
            }
        }
    }
    &.user {
        background: #FFF;
        .header i {
            background: #FFF;
        }
        .box {
            background: #ECECEC;
        }
        :global {
            .ant-radio-inner:after {
                background-color: #F4CB08;
            }
            .ant-radio-wrapper-checked {
                font-weight: 700;
                .ant-radio-inner {
                    background-color: #F4CB08;
                }
            }
            .ant-radio-checked .ant-radio-inner {
                border-color: #000;
            }
        }
    }
}

.header {
    position: relative;
    padding: 10px 0;

    i {
        color: #FF2828;
        background: #FDFF9A;
        font-size: 20px;
        padding: 0 8px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        height: 1px;
        width: 100%;
        background: #000;
    }

}

.group {
    margin-bottom: 24px;
}

.label {
    font-weight: 700;
}

.box {
    background: #FFF7B4;
    border: 1px solid #000;
    border-radius: 10px;
    font-weight: 500;
    padding: 4px 11px;
    min-height: 32px;
}

:global {
    .ant-picker {
        width: 100%;
        border-color: #777;
        border-radius: 10px;
        input {
            font-weight: 500;
        }
    }
    .ant-input {
        border-color: #777;
        border-radius: 10px;
        font-weight: 500;
    }
    .ant-radio-inner {
        border-color: #777;
    }
}